<html>
<head>
  {% include 'head.html' %}
</head>
<body class="">
    <div class="page">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col col-login mx-auto">
              <div class="text-center mb-6">
                <img src="{{url_for('static', filename = 'assets/logo.svg')}}" class="h-6" alt="">
              </div>
              <form class="card" action="" method="post" >
                <div class="card-body p-6">
                  <div class="card-title">Login to your account</div>
              {% set formData=[{'label':'OTP','required':'True','placeholder':'Enter OTP','type':'number', 'name':'otp'}] %}
              {% include 'form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                  </div>
                    </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</head>
